:root {
	--white: #ffffff;
	--light-gray: #6f6f6f;
	--gray: #3f3f3f;
	--dark: #1e1e1e;
	--blue: #00a0cd;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#calculator {
	display: grid;
	grid-template-areas:
		'display display display display'
		'clear negative percentage divide'
		'seven eight nine multiply'
		'four five six subtract'
		'one two three add'
		'zero zero decimal equals';
	grid-template-columns: 3em 3em 3em 3em;
	gap: 0.5em;
	border-radius: 0.4em;
	padding: 0.5em;
	background-color: var(--dark);
	color: var(--white);
}

#display {
	text-align: right;
}

#answer {
	font-size: 2rem;
}

#expression {
	font-size: 1rem;
	color: var(--light-gray);
}

button {
	height: 3em;
	border: none;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

button:active {
	transform: scale(0.9);
}

.light-gray {
	background-color: var(--light-gray);
}

.gray {
	background-color: var(--gray);
}

.blue {
	background-color: var(--blue);
}

#display {
	grid-area: display;
}

#zero {
	grid-area: zero;
}

#equals {
	grid-area: equals;
}
